
.box{
    width: 150px;
    height: 150px;
    font-size: 2em;
    text-align: center;
    border-radius: 12px;
    margin: 5px;
}
.container{
    border: 9px solid black;
    height: 40em;
    display: flex;
    /* define the item in axis */
    /* change direction by flex direction */
    /* by default rows */
    /* flex-direction: row; */
    /* justify-content align item on the main axis */
    /* justify-content: center; */
    /* align item on y axis */
    /* align-items: baseline; */
    flex-wrap: wrap;
    align-content: flex-start;
    /* gap: 1em; */


}
#box1{
    border: 3px solid black;
    flex-grow: 1;
    flex-shrink: 1;
}
#box2{
    border: 3px solid black;
    align-self: center;
    order: -1;
}
#box3{
    border: 3px solid black;
}
#box4{
    border: 3px solid black;
}
#box5{
    border: 3px solid black;
}
#box6{
    border: 3px solid black;
}
#box7{
    border: 3px solid black;
}
#box8{
    border: 3px solid black;
}
#box9{
    border: 3px solid black;
}