
.box{
    width: 150px;
    height: 150px;
    font-size: 2em;
    text-align: center;
    border-radius: 12px;
    margin: 5px;
}
.container{
    border: 9px solid black;
    height: 40em;
    display: flex;
    /* flex-direction: row; */
    /* justify-content:first baseline; */
    flex-wrap: wrap;
    /* align-content: center; */
    /* align-items: center */

}
#box1{
    border: 3px solid black;
}
#box2{
    border: 3px solid black;
}
#box3{
    border: 3px solid black;
}
#box4{
    border: 3px solid black;
}
#box5{
    border: 3px solid black;
}
#box6{
    border: 3px solid black;
}
#box7{
    border: 3px solid black;
}
#box8{
    border: 3px solid black;
}
#box9{
    border: 3px solid black;
}