main {
    border: 5px solid darkred;
    /* width: 50%; */
    /* width: 100vw; */
    width: 100vh;

    
}
/* units matter from parent to the child */
section{
    border: 5px dotted red;
    width: 50vw;
}