body {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aquamarine;
    background-color: brown;
}

#hello {
    font-family: sans-serif;
    color: rgb(57, 31, 204);
    background-color: black;
}

